html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


.material-symbols-outlined {
  color: black;
}
